#
# {{ ansible_managed }}
#

# Local configuration options go here (defaults are in /usr/share/logwatch/default.conf/logwatch.conf)

{% if logwatch_output is defined %}
Output = {{ logwatch_output }}
{% endif %}
{% if logwatch_format is defined %}
Format = {{ logwatch_format }}
{% endif %}
{% if logwatch_mailto is defined %}
MailTo = {{ logwatch_mailto }}
{% endif %}
